.control-panel {
    background-color: white;
    display:flex;
    flex-direction: row;
    gap:20px;
    height:100%;
}

.control-buttson {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    flex: 1;
}