<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UB SEDS Ground Station</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <script src="../static/js/index.js"></script>

    <div class="navbar">
        <img src=../static/img/logo.png class="logo noselect">
        <ul class="nav-items">
            <li>
                <button class="nav-button">
                    <i class="fa fa-bolt"></i>
                    Telemetry
                </button>
            </li>
            <li>
                <button class="nav-button">
                    <i class="fa fa-map"></i>
                    Navigation
                </button>
            </li>
            <li>
                <button class="nav-button">
                    <i class="fa fa-gear"></i>
                    Control
                </button>
            </li>
        </ul>

        <ul class="nav-stats">
            <li class="stat-box">
                <i class="fa fa-globe"></i>
                <span class="stat-value" id="voltage-stat">Online</span>
            </li>
            <li class="stat-box">
                <i class="fa fa-bolt"></i>
                <span class="stat-value" id="voltage-stat">7.7 V</span>
            </li>
            <li class="stat-box">
                <i class="fa fa-signal"></i>
                <span class="stat-value" id="voltage-stat">212 ms</span>
            </li>
            <li class="stat-box">
                <i class="fa fa-clock-o"></i>

                <span class="stat-value" id="voltage-stat">30 s</span>
            </li>
        </ul>
    </div>

</body>

</html>