<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UB SEDS Ground Station</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/gauge.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <script src="../static/js/socket.io.js"></script>

    <div class="navbar">
        <img src=../static/img/logo.png class="logo noselect">
        <ul class="nav-items">
            <li>
                <button class="nav-button">
                    <i class="fa fa-bolt"></i>
                    Telemetry
                </button>
            </li>
            <li>
                <button class="nav-button">
                    <i class="fa fa-map"></i>
                    Navigation
                </button>
            </li>
            <li>
                <button class="nav-button">
                    <i class="fa fa-gear"></i>
                    Control
                </button>
            </li>
        </ul>

        <ul class="nav-stats">
            <li class="stat-box">
                <i class="fa fa-globe"></i>
                <span class="stat-value" id="status-stat">Online</span>
            </li>
            <li class="stat-box">
                <i class="fa fa-bolt"></i>
                <span class="stat-value" id="voltage-stat">7.7 V</span>
            </li>
            <li class="stat-box">
                <i class="fa fa-signal"></i>
                <span class="stat-value" id="ping-stat">212 ms</span>
            </li>
            <li class="stat-box">
                <i class="fa fa-clock-o"></i>

                <span class="stat-value" id="uptime-stat">30 s</span>
            </li>
        </ul>
        <script>document.querySelectorAll(".nav-stats li").forEach((item, i) => { item.style.setProperty("--i", i + 1); })</script>
    </div>

    <div class="page-content">
        <div id="control-container"></div>
        <div id="telemetry-container">
            <div class="data-section shadow-light">
                <div class="data-section-content da-fb">
                    <div class="data-block">
                        <h1 class="data-block-title">Status</h1>
                        <p class="data-block-value">Online</p>
                    </div>
                    <div class="data-block">
                        <h1 class="data-block-title">Phase</h1>
                        <p class="data-block-value">Ignition</p>
                    </div>
                    <div class="data-block">
                        <h1 class="data-block-title">Distance</h1>
                        <p class="data-block-value">200 m</p>
                    </div>
                    <div class="data-block">
                        <div class="gauge-container">
                            <div class="gauge-background"></div>
                            <div class="gauge-center"></div>
                            <div class="gauge-fill"></div>
                            <div class="gauge-data">
                                <h1>20°C</h1>
                                Temperature
                            </div>
                        </div>
                    </div>
                    <div class="data-block">
                        <div class="gauge-container">
                            <div class="gauge-background"></div>
                            <div class="gauge-center"></div>
                            <div class="gauge-fill"></div>
                            <div class="gauge-data">
                                <h1>101 kPA</h1>
                                Pressure
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-section da-fb shadow-light">
                <div class="chart-container shadow-light">
                    <canvas id="acceleration-chart"></canvas>
                </div>
                <div class="chart-container shadow-light">
                    <canvas id="velocity-chart"></canvas>
                </div>
                <div class="chart-container shadow-light">
                    <canvas id="altitude-chart"></canvas>
                </div>

            </div>
        </div>
    </div>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/chart.umd.min.js"></script>
    <script src="../static/js/index.js"></script>

</body>

</html>